.accordionParent {
  margin: 1rem 0;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--ifm-color-border-light);
}

.accordionTitle {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
